description "Notebook"

layers "core" "tools" "gui"     // rice nincs -- és így egyetlen rice-fájlt sem kap

gpu   "nvidia"
ucode "amd"
class "laptop"

cpu-threads 16

ddc off             // belső panel, ide brightnessctl való
